# List

In [11]:
mylist = ['sandy',18,'vasa',20,'santho',19,'Mrgreedy','panruti',2020]
print(mylist)
type(mylist)

['sandy', 18, 'vasa', 20, 'santho', 19, 'Mrgreedy', 'panruti', 2020]

list

In [12]:
print(mylist[0])
print(mylist[1:3])
print(mylist[-1])

sandy
[18, 'vasa']
2020

In [24]:
a = [1,2,3,4,5,2,4,1]
b = ['A','B','C']
c = ['D','E','F','G']
a+b+c

[1, 2, 3, 4, 5, 2, 4, 1, 'A', 'B', 'C', 'D', 'E', 'F', 'G']

In [25]:
d = a+b

In [26]:
print(d)

[1, 2, 3, 4, 5, 2, 4, 1, 'A', 'B', 'C']

In [27]:
print(d[3])

4

In [14]:
len(mylist)

9

In [15]:
del(mylist[3])
print(mylist)

['sandy', 18, 'vasa', 'santho', 19, 'Mrgreedy', 'panruti', 2020]

In [16]:
del mylist[-2:]
mylist

['sandy', 18, 'vasa', 'santho', 19, 'Mrgreedy']

In [17]:
mylist.remove(18)
mylist

['sandy', 'vasa', 'santho', 19, 'Mrgreedy']

In [18]:
mylist.append('siva')
mylist

['sandy', 'vasa', 'santho', 19, 'Mrgreedy', 'siva']

In [21]:
mylist.append(19)
mylist

['sandy', 'vasa', 'santho', 19, 'Mrgreedy', 'siva', 'santho', 19]

In [23]:
mylist.pop(3)
mylist

['sandy', 'vasa', 'santho', 'Mrgreedy', 'siva', 'santho', 19]

In [29]:
city = ['manipur','mumbai','pondy','delhi','chennai','goa']
print(city)

['manipur', 'mumbai', 'pondy', 'delhi', 'chennai', 'goa']

In [33]:
'bangalore' in city

False

In [34]:
'bangalore' not in city

True

In [31]:
'goa' in city

True

In [35]:
a

[1, 2, 3, 4, 5, 2, 4, 1]

In [36]:
print(max(a))
print(min(a))

5
1

In [37]:
a.extend([20,10,8])
a

[1, 2, 3, 4, 5, 2, 4, 1, 20, 10, 8]

In [38]:
a.insert(5,6)
a

[1, 2, 3, 4, 5, 6, 2, 4, 1, 20, 10, 8]

In [39]:
print(sorted(a))
print(a)

[1, 1, 2, 2, 3, 4, 4, 5, 6, 8, 10, 20]
[1, 2, 3, 4, 5, 6, 2, 4, 1, 20, 10, 8]

In [40]:
print(a)
a[0]=0
print(a)

[1, 2, 3, 4, 5, 6, 2, 4, 1, 20, 10, 8]
[0, 2, 3, 4, 5, 6, 2, 4, 1, 20, 10, 8]

# Tuples

In [42]:
mytup = ('a',1,'b',2,'c',3)
print(mytup)
type(mytup)

('a', 1, 'b', 2, 'c', 3)

tuple

In [43]:
print(mytup[0])
print(mytup[1:4])
print(mytup[-3:])

a
(1, 'b', 2)
(2, 'c', 3)

# Dictioaries
key value pair

In [50]:
mydict = {'a':1,'b':2,'c':3,'d':4}
print(mydict)
# print value corresponds to the key
print(mydict['c'])

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
3

In [51]:
len(mydict)

4

In [54]:
mydict2 = {}
mydict2['Bubbles'] = [9, 'sweet']
mydict2['Blossom'] = [10, 'leader']
mydict2['Buttercup'] = [11, 'tomboy']
mydict2

{'Bubbles': [9, 'sweet'],
 'Blossom': [10, 'leader'],
 'Buttercup': [11, 'tomboy']}

In [55]:
mydict2.keys()

dict_keys(['Bubbles', 'Blossom', 'Buttercup'])

In [56]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [57]:
# add a new entry
family['cat'] = 'snowball'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball'}

# Sets

In [52]:
myset = {'a','s','d','f','g','f','a'}
print(myset)

{'f', 'g', 'a', 's', 'd'}

# Conditional Statements

In [3]:
a = 11
if(a<10): print(a,'is less than 10 !')
elif(a==10): print('Equals to 10')
else : print(a,'is greater than 10 !')

11 is greater than 10 !

# Loops

In [16]:
names = ['prash','amith','sree','sandy','yeshwa','viki']
for name in names:
    invite = "Hi " + name + ", please cone to my party on sunday"
    print(invite)

Hi prash, please cone to my party on sunday
Hi amith, please cone to my party on sunday
Hi sree, please cone to my party on sunday
Hi sandy, please cone to my party on sunday
Hi yeshwa, please cone to my party on sunday
Hi viki, please cone to my party on sunday

In [6]:
l = [2,4,6,8,10]
for i in l:
    print(10*i)

20
40
60
80
100

# While

In [9]:
count = 1
while(count<=10):
    print('Hello')
    count+=1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

# Nested Loop

In [14]:
# count of nos between 1 to 1000 which are divisible by 11
l=[]
for i in range(1,1001):
    if(i%11==0):
        l.append(i)
print("The List : \n",l)
print("\nCount of nos between 1 to 1000 which are divisible by 11 : ", len(l))

The List :
 [11, 22, 33, 44, 55, 66, 77, 88, 99, 110, 121, 132, 143, 154, 165, 176, 187, 198, 209, 220, 231, 242, 253, 264, 275, 286, 297, 308, 319, 330, 341, 352, 363, 374, 385, 396, 407, 418, 429, 440, 451, 462, 473, 484, 495, 506, 517, 528, 539, 550, 561, 572, 583, 594, 605, 616, 627, 638, 649, 660, 671, 682, 693, 704, 715, 726, 737, 748, 759, 770, 781, 792, 803, 814, 825, 836, 847, 858, 869, 880, 891, 902, 913, 924, 935, 946, 957, 968, 979, 990]

Count of nos between 1 to 1000 which are divisible by 11 :  90

# Functions

In [15]:
def good_morning():
    print("Good morning")

In [24]:
for name in names :
    good_morning(),print(name)

Good morning
prash
Good morning
amith
Good morning
sree
Good morning
sandy
Good morning
yeshwa
Good morning
viki

In [25]:
def add(a,b):
    return(a+b)
def sub(a,b):
    return(a-b)
def mul(a,b):
    return(a*b)
def div(a,b):
    return(a/b)

In [27]:
x = 2
y = 5
print("Add : ",add(x,y))
print("Sub : ",sub(x,y))
print("Mul : ",mul(x,y))
print("Div : ",div(x,y))

Add :  7
Sub :  -3
Mul :  10
Div :  0.4

# Lambda Fn

In [34]:
# fn name = lambda arguments : content
l_add = lambda x,y : x+y

In [35]:
l_add(2,3)

5

# Filters

In [38]:
# filter(function,value)
f_li = [2,1,3,12,34,22,11,13,133,53,99,100]
final_li = list(filter(lambda x : (x%2==0),f_li))
print(final_li)

[2, 12, 34, 22, 100]

# Map

In [39]:
# map(function,value)
m_li = [2,0,3,4,0,9]
out = list(map(lambda var : (var*10),m_li))
print(out)

[20, 0, 30, 40, 0, 90]

# Reducer

In [41]:
# lib.reducer(function,value)
import functools as f
import operator as o
li = [1,2,3,4]
sum=f.reduce(o.add,li)
print(sum)

10

# Accumulator

In [44]:
# lib.accumulator(value,function)
import itertools as i
lis = [1,2,3,4,5]
print("accumulated list : ",end="")
print(list(i.accumulate(lis,lambda x,y : x+y )))

accumulated list : [1, 3, 6, 10, 15]