# List

In [11]:
mylist = ['sandy',18,'vasa',20,'santho',19,'Mrgreedy','panruti',2020]
print(mylist)
type(mylist)

['sandy', 18, 'vasa', 20, 'santho', 19, 'Mrgreedy', 'panruti', 2020]

list

In [12]:
print(mylist[0])
print(mylist[1:3])
print(mylist[-1])

sandy
[18, 'vasa']
2020

In [24]:
a = [1,2,3,4,5,2,4,1]
b = ['A','B','C']
c = ['D','E','F','G']
a+b+c

[1, 2, 3, 4, 5, 2, 4, 1, 'A', 'B', 'C', 'D', 'E', 'F', 'G']

In [25]:
d = a+b

In [26]:
print(d)

[1, 2, 3, 4, 5, 2, 4, 1, 'A', 'B', 'C']

In [27]:
print(d[3])

4

In [14]:
len(mylist)

9

In [15]:
del(mylist[3])
print(mylist)

['sandy', 18, 'vasa', 'santho', 19, 'Mrgreedy', 'panruti', 2020]

In [16]:
del mylist[-2:]
mylist

['sandy', 18, 'vasa', 'santho', 19, 'Mrgreedy']

In [17]:
mylist.remove(18)
mylist

['sandy', 'vasa', 'santho', 19, 'Mrgreedy']

In [18]:
mylist.append('siva')
mylist

['sandy', 'vasa', 'santho', 19, 'Mrgreedy', 'siva']

In [21]:
mylist.append(19)
mylist

['sandy', 'vasa', 'santho', 19, 'Mrgreedy', 'siva', 'santho', 19]

In [23]:
mylist.pop(3)
mylist

['sandy', 'vasa', 'santho', 'Mrgreedy', 'siva', 'santho', 19]

In [29]:
city = ['manipur','mumbai','pondy','delhi','chennai','goa']
print(city)

['manipur', 'mumbai', 'pondy', 'delhi', 'chennai', 'goa']

In [33]:
'bangalore' in city

False

In [34]:
'bangalore' not in city

True

In [31]:
'goa' in city

True

In [35]:
a

[1, 2, 3, 4, 5, 2, 4, 1]

In [36]:
print(max(a))
print(min(a))

5
1

In [37]:
a.extend([20,10,8])
a

[1, 2, 3, 4, 5, 2, 4, 1, 20, 10, 8]

In [38]:
a.insert(5,6)
a

[1, 2, 3, 4, 5, 6, 2, 4, 1, 20, 10, 8]

In [39]:
print(sorted(a))
print(a)

[1, 1, 2, 2, 3, 4, 4, 5, 6, 8, 10, 20]
[1, 2, 3, 4, 5, 6, 2, 4, 1, 20, 10, 8]

In [40]:
print(a)
a[0]=0
print(a)

[1, 2, 3, 4, 5, 6, 2, 4, 1, 20, 10, 8]
[0, 2, 3, 4, 5, 6, 2, 4, 1, 20, 10, 8]

# Tuples

In [42]:
mytup = ('a',1,'b',2,'c',3)
print(mytup)
type(mytup)

('a', 1, 'b', 2, 'c', 3)

tuple

In [43]:
print(mytup[0])
print(mytup[1:4])
print(mytup[-3:])

a
(1, 'b', 2)
(2, 'c', 3)

# Dictioaries
key value pair

In [50]:
mydict = {'a':1,'b':2,'c':3,'d':4}
print(mydict)
# print value corresponds to the key
print(mydict['c'])

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
3

In [51]:
len(mydict)

4

In [54]:
mydict2 = {}
mydict2['Bubbles'] = [9, 'sweet']
mydict2['Blossom'] = [10, 'leader']
mydict2['Buttercup'] = [11, 'tomboy']
mydict2

{'Bubbles': [9, 'sweet'],
 'Blossom': [10, 'leader'],
 'Buttercup': [11, 'tomboy']}

In [55]:
mydict2.keys()

dict_keys(['Bubbles', 'Blossom', 'Buttercup'])

In [56]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [57]:
# add a new entry
family['cat'] = 'snowball'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball'}

# Sets

In [52]:
myset = {'a','s','d','f','g','f','a'}
print(myset)

{'f', 'g', 'a', 's', 'd'}