In [1]:
import pandas as pd
import numpy as np

In [6]:
mylist = [5,4,33,12,76]
myarray = np.array(mylist)
print(myarray)

[ 5  4 33 12 76]

In [7]:
myseries1 = pd.Series(data=mylist)
print(myseries1)
myseries2 = pd.Series(data=myarray)
print(myseries2)

0     5
1     4
2    33
3    12
4    76
dtype: int64
0     5
1     4
2    33
3    12
4    76
dtype: int32

In [5]:
print(myseries1[2])

3

In [8]:
mylables = ['1th','2th','3th','4th','5th']
myseries3 = pd.Series(data=mylist,index=mylables)
print(myseries3)

1th     5
2th     4
3th    33
4th    12
5th    76
dtype: int64

In [9]:
print(myseries3['3th'])

33

In [10]:
myseries4 = pd.Series([2,3,4,1,6],['1th','3th','4th','6th','7th'])
print(myseries4)
print('')
print(myseries3+myseries4)

1th    2
3th    3
4th    4
6th    1
7th    6
dtype: int64

1th     7.0
2th     NaN
3th    36.0
4th    16.0
5th     NaN
6th     NaN
7th     NaN
dtype: float64

In [16]:
df1 = pd.concat([myseries3,myseries4],axis=1,sort=True)
df1

        0    1
1th   5.0  2.0
2th   4.0  NaN
3th  33.0  3.0
4th  12.0  4.0
5th  76.0  NaN
6th   NaN  1.0
7th   NaN  6.0

In [18]:
df2 = pd.DataFrame(np.random.randn(5,5),index=['1th row','2th row','3th row','4th row','5th row'],columns=['1th col','2th col','3th col','4th col','5th col'])
df2

          1th col   2th col   3th col   4th col   5th col
1th row  0.847794 -0.516739  0.250755 -0.210721 -0.582605
2th row  0.145061  1.774708  0.780958  0.996805  0.780980
3th row  0.662552 -0.147782 -0.053733 -0.932024  0.713458
4th row -1.033275  0.667603  0.286494 -0.132871  0.801185
5th row  0.302512  1.700104 -2.118665  1.304873 -0.905316